USE [master]
GO
/****** Object:  Database [SWP391_HouseRentalSystem]    Script Date: 7/23/2023 10:14:45 PM ******/
CREATE DATABASE [SWP391_HouseRentalSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SWP391_HouseRentalSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SWP391_HouseRentalSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SWP391_HouseRentalSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SWP391_HouseRentalSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SWP391_HouseRentalSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SWP391_HouseRentalSystem]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/23/2023 10:14:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](50) NOT NULL,
	[Gender] [bit] NOT NULL,
	[Address] [nvarchar](150) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [nchar](16) NOT NULL,
	[Phone_Number] [nchar](10) NULL,
	[Role_ID] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Secure_Question_ID] [int] NULL,
	[Secure_Answer_ID] [int] NULL,
	[Profile_Picture] [text] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account_Role]    Script Date: 7/23/2023 10:14:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_Role](
	[Id] [int] NOT NULL,
	[Role] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Account_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog_Posts]    Script Date: 7/23/2023 10:14:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog_Posts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Poster_ID] [int] NOT NULL,
	[Post_Time] [date] NULL,
	[Topic] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[Like_Count] [int] NOT NULL,
	[Image] [text] NULL,
 CONSTRAINT [PK_Blog_Posts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 7/23/2023 10:14:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[District] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Districts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favourite_Blogs]    Script Date: 7/23/2023 10:14:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favourite_Blogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BlogId] [int] NULL,
	[UserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favourite_House]    Script Date: 7/23/2023 10:14:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favourite_House](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[House_ID] [int] NOT NULL,
 CONSTRAINT [PK_Favourite_House] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 7/23/2023 10:14:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sender_ID] [int] NOT NULL,
	[Receiver_ID] [int] NOT NULL,
	[House_ID] [int] NOT NULL,
	[Feedback_Date] [date] NULL,
	[Content] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback_System]    Script Date: 7/23/2023 10:14:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback_System](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Account_ID] [int] NULL,
	[Content] [nvarchar](1000) NULL,
	[AddDate] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[History_House]    Script Date: 7/23/2023 10:14:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History_House](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Account_ID] [int] NOT NULL,
	[House_ID] [int] NOT NULL,
 CONSTRAINT [PK_History_House] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[House]    Script Date: 7/23/2023 10:14:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[House](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[House_Owner_ID] [int] NULL,
	[Category_ID] [int] NOT NULL,
	[Price] [float] NULL,
	[District_ID] [int] NOT NULL,
	[Full_Address] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Rating] [float] NOT NULL,
	[Added_Date] [date] NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_House] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[House_Category]    Script Date: 7/23/2023 10:14:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[House_Category](
	[Id] [int] NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_House_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[House_Details]    Script Date: 7/23/2023 10:14:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[House_Details](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[House_ID] [int] NOT NULL,
	[Number_Of_Bedrooms] [int] NOT NULL,
	[Number_Of_Bathrooms] [int] NOT NULL,
	[Area] [int] NOT NULL,
	[Pool] [int] NOT NULL,
	[House_Direction_ID] [int] NULL,
 CONSTRAINT [PK_House_Details] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[House_Directions]    Script Date: 7/23/2023 10:14:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[House_Directions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Direction] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_House_Directions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[House_Images]    Script Date: 7/23/2023 10:14:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[House_Images](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[House_ID] [int] NOT NULL,
	[Image] [varchar](50) NOT NULL,
 CONSTRAINT [PK_House_Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[House_Ratings]    Script Date: 7/23/2023 10:14:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[House_Ratings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[House_ID] [int] NOT NULL,
	[Voter_ID] [int] NOT NULL,
	[Rating] [float] NOT NULL,
 CONSTRAINT [PK_House_Ratings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 7/23/2023 10:14:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sender_ID] [int] NOT NULL,
	[Receiver_ID] [int] NOT NULL,
	[Sent_Date] [date] NULL,
	[Content] [nvarchar](200) NOT NULL,
	[Status] [bit] NOT NULL,
	[Deleted_By_Sender] [bit] NOT NULL,
	[Deleted_By_Receiver] [bit] NOT NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post_Comments]    Script Date: 7/23/2023 10:14:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post_Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Post_ID] [int] NOT NULL,
	[Commenter_ID] [int] NOT NULL,
	[Comment_Date] [date] NULL,
	[Content] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Post_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Secure_Answers]    Script Date: 7/23/2023 10:14:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Secure_Answers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Secure_Question_ID] [int] NOT NULL,
	[Answer] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Secure_Answers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Secure_Questions]    Script Date: 7/23/2023 10:14:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Secure_Questions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Secure_Questions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([Id], [Fullname], [Gender], [Address], [Email], [Password], [Phone_Number], [Role_ID], [Status], [Secure_Question_ID], [Secure_Answer_ID], [Profile_Picture]) VALUES (1, N'akkk', 1, N'123', N'a', N'111             ', N'55555     ', 2, 1, 2, 1, N'blogtest.jpg')
INSERT [dbo].[Account] ([Id], [Fullname], [Gender], [Address], [Email], [Password], [Phone_Number], [Role_ID], [Status], [Secure_Question_ID], [Secure_Answer_ID], [Profile_Picture]) VALUES (2, N'hung', 1, N'hn', N'aaac@', N'123             ', N'03355588  ', 2, 1, 2, 1, N'blogtest2.jpg')
INSERT [dbo].[Account] ([Id], [Fullname], [Gender], [Address], [Email], [Password], [Phone_Number], [Role_ID], [Status], [Secure_Question_ID], [Secure_Answer_ID], [Profile_Picture]) VALUES (5, N'Kelvin Tran', 1, N'hn', N'humgtmhe163748@fpt.edu.vn', N'113             ', N'7897999   ', 3, 1, 2, 3, N'blogtest.jpg')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
INSERT [dbo].[Account_Role] ([Id], [Role]) VALUES (1, N'Admin')
INSERT [dbo].[Account_Role] ([Id], [Role]) VALUES (2, N'Viewer')
INSERT [dbo].[Account_Role] ([Id], [Role]) VALUES (3, N'Owner')
GO
SET IDENTITY_INSERT [dbo].[Blog_Posts] ON 

INSERT [dbo].[Blog_Posts] ([Id], [Poster_ID], [Post_Time], [Topic], [Content], [Like_Count], [Image]) VALUES (28, 12, CAST(N'2023-07-19' AS Date), N'Cách sử dụng công nghệ AI trong việc phân loại tin tức', N'Bài viết trình bày cách sử dụng trí tuệ nhân tạo để tự động phân loại tin tức theo chủ đề và nội dung phong phú', 0, N'banner1.png')
INSERT [dbo].[Blog_Posts] ([Id], [Poster_ID], [Post_Time], [Topic], [Content], [Like_Count], [Image]) VALUES (29, 5, CAST(N'2023-06-01' AS Date), N'Những xu hướng thú vị trong ngành công nghệ đang thay đổi cách chúng ta đọc tin tức"', N'Bài viết tập trung vào các xu hướng mới trong lĩnh vực công nghệ đang thay đổi cách chúng ta tiếp cận và tiêu thụ tin tức.', 0, N'listing-03.jpg')
INSERT [dbo].[Blog_Posts] ([Id], [Poster_ID], [Post_Time], [Topic], [Content], [Like_Count], [Image]) VALUES (33, 5, CAST(N'2023-06-01' AS Date), N'Các ứng dụng di động phổ biến giúp bạn cập nhật tin tức hàng ngày', N'Bài viết giới thiệu và đánh giá các ứng dụng di động phổ biến mà người dùng có thể sử dụng để cập nhật tin tức hàng ngày.', 0, N'listing-04.jpg')
SET IDENTITY_INSERT [dbo].[Blog_Posts] OFF
GO
SET IDENTITY_INSERT [dbo].[Districts] ON 

INSERT [dbo].[Districts] ([Id], [District]) VALUES (1, N'Ba Đình')
INSERT [dbo].[Districts] ([Id], [District]) VALUES (2, N'Bắc Từ Liêm')
INSERT [dbo].[Districts] ([Id], [District]) VALUES (3, N'Cầu Giấy')
SET IDENTITY_INSERT [dbo].[Districts] OFF
GO
SET IDENTITY_INSERT [dbo].[Favourite_Blogs] ON 

INSERT [dbo].[Favourite_Blogs] ([Id], [BlogId], [UserID]) VALUES (25, 28, 5)
INSERT [dbo].[Favourite_Blogs] ([Id], [BlogId], [UserID]) VALUES (29, 28, 12)
SET IDENTITY_INSERT [dbo].[Favourite_Blogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Favourite_House] ON 

INSERT [dbo].[Favourite_House] ([Id], [User_ID], [House_ID]) VALUES (70, 17, 1)
INSERT [dbo].[Favourite_House] ([Id], [User_ID], [House_ID]) VALUES (143, 11, 12)
INSERT [dbo].[Favourite_House] ([Id], [User_ID], [House_ID]) VALUES (148, 11, 2)
SET IDENTITY_INSERT [dbo].[Favourite_House] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([Id], [Sender_ID], [Receiver_ID], [House_ID], [Feedback_Date], [Content]) VALUES (17, 12, 5, 2, CAST(N'2023-07-22' AS Date), N'aloadsada')
INSERT [dbo].[Feedback] ([Id], [Sender_ID], [Receiver_ID], [House_ID], [Feedback_Date], [Content]) VALUES (19, 12, 5, 2, CAST(N'2023-07-22' AS Date), N'ascjasckaskc')
INSERT [dbo].[Feedback] ([Id], [Sender_ID], [Receiver_ID], [House_ID], [Feedback_Date], [Content]) VALUES (20, 12, 5, 2, CAST(N'2023-07-22' AS Date), N'hhh')
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback_System] ON 

SET IDENTITY_INSERT [dbo].[Feedback_System] OFF
GO
SET IDENTITY_INSERT [dbo].[History_House] ON 

INSERT [dbo].[History_House] ([ID], [Account_ID], [House_ID]) VALUES (70, 17, 1)
INSERT [dbo].[History_House] ([ID], [Account_ID], [House_ID]) VALUES (75, 11, 1)
INSERT [dbo].[History_House] ([ID], [Account_ID], [House_ID]) VALUES (76, 11, 85)
SET IDENTITY_INSERT [dbo].[History_House] OFF
GO
SET IDENTITY_INSERT [dbo].[House] ON 

INSERT [dbo].[House] ([Id], [House_Owner_ID], [Category_ID], [Price], [District_ID], [Full_Address], [Description], [Rating], [Added_Date], [Title]) VALUES (1, 5, 1, 2000000, 1, N'Ngõ 1', N'Tìm người ở ghép q1 máy lạnh đầy đủ tiện nghi............................................1tr2 1 thôi.....', 5, CAST(N'2023-05-30' AS Date), N'Phòng cho thuê FULL Nội Thất, giờ giấc tự do')
INSERT [dbo].[House] ([Id], [House_Owner_ID], [Category_ID], [Price], [District_ID], [Full_Address], [Description], [Rating], [Added_Date], [Title]) VALUES (2, 5, 2, 3000000, 2, N'Ngõ 2', N'Phòng đẹp như ảnh', 3.5, CAST(N'2023-05-30' AS Date), N'Phòng cho thuê FULL Nội Thất, giờ giấc tự do ngay công viên. Siêu ưu đãi mùa dịch')
INSERT [dbo].[House] ([Id], [House_Owner_ID], [Category_ID], [Price], [District_ID], [Full_Address], [Description], [Rating], [Added_Date], [Title]) VALUES (4, 5, 3, 4000000, 3, N'Ngõ 3', N'Phòng đẩy đủ tiện nghi', 5, CAST(N'2023-05-30' AS Date), N'Biệt thự sang - xịn - mịn')
SET IDENTITY_INSERT [dbo].[House] OFF
GO
INSERT [dbo].[House_Category] ([Id], [Category]) VALUES (1, N'Phòng trọ')
INSERT [dbo].[House_Category] ([Id], [Category]) VALUES (2, N'Chung cư')
INSERT [dbo].[House_Category] ([Id], [Category]) VALUES (3, N'Biệt thự')
GO
SET IDENTITY_INSERT [dbo].[House_Details] ON 

INSERT [dbo].[House_Details] ([Id], [House_ID], [Number_Of_Bedrooms], [Number_Of_Bathrooms], [Area], [Pool], [House_Direction_ID]) VALUES (1, 1, 1, 0, 25, 0, 1)
INSERT [dbo].[House_Details] ([Id], [House_ID], [Number_Of_Bedrooms], [Number_Of_Bathrooms], [Area], [Pool], [House_Direction_ID]) VALUES (3, 2, 2, 0, 30, 0, 1)
INSERT [dbo].[House_Details] ([Id], [House_ID], [Number_Of_Bedrooms], [Number_Of_Bathrooms], [Area], [Pool], [House_Direction_ID]) VALUES (14, 4, 2, 0, 40, 0, 1)
SET IDENTITY_INSERT [dbo].[House_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[House_Directions] ON 

INSERT [dbo].[House_Directions] ([Id], [Direction]) VALUES (1, N'Đông')
INSERT [dbo].[House_Directions] ([Id], [Direction]) VALUES (2, N'Tây')
INSERT [dbo].[House_Directions] ([Id], [Direction]) VALUES (3, N'Nam')
SET IDENTITY_INSERT [dbo].[House_Directions] OFF
GO
SET IDENTITY_INSERT [dbo].[House_Images] ON 

INSERT [dbo].[House_Images] ([Id], [House_ID], [Image]) VALUES (1, 16, N'img1.jpg')
INSERT [dbo].[House_Images] ([Id], [House_ID], [Image]) VALUES (2, 1, N'img5.jpg')
INSERT [dbo].[House_Images] ([Id], [House_ID], [Image]) VALUES (3, 2, N'img3.jpg')
SET IDENTITY_INSERT [dbo].[House_Images] OFF
GO
SET IDENTITY_INSERT [dbo].[House_Ratings] ON 

INSERT [dbo].[House_Ratings] ([Id], [House_ID], [Voter_ID], [Rating]) VALUES (4, 4, 12, 2)
INSERT [dbo].[House_Ratings] ([Id], [House_ID], [Voter_ID], [Rating]) VALUES (6, 4, 11, 2)
INSERT [dbo].[House_Ratings] ([Id], [House_ID], [Voter_ID], [Rating]) VALUES (14, 85, 12, 3)
SET IDENTITY_INSERT [dbo].[House_Ratings] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([Id], [Sender_ID], [Receiver_ID], [Sent_Date], [Content], [Status], [Deleted_By_Sender], [Deleted_By_Receiver]) VALUES (1, 12, 5, CAST(N'2023-06-26' AS Date), N'đfgf', 0, 1, 1)
INSERT [dbo].[Messages] ([Id], [Sender_ID], [Receiver_ID], [Sent_Date], [Content], [Status], [Deleted_By_Sender], [Deleted_By_Receiver]) VALUES (2, 12, 5, CAST(N'2023-06-26' AS Date), N'dffdg', 0, 1, 1)
INSERT [dbo].[Messages] ([Id], [Sender_ID], [Receiver_ID], [Sent_Date], [Content], [Status], [Deleted_By_Sender], [Deleted_By_Receiver]) VALUES (3, 12, 5, CAST(N'2023-06-26' AS Date), N'dffd', 0, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[Post_Comments] ON 

INSERT [dbo].[Post_Comments] ([Id], [Post_ID], [Commenter_ID], [Comment_Date], [Content]) VALUES (21, 28, 5, CAST(N'2023-07-18' AS Date), N'bài viết rất bổ ích')
INSERT [dbo].[Post_Comments] ([Id], [Post_ID], [Commenter_ID], [Comment_Date], [Content]) VALUES (22, 28, 5, CAST(N'2023-07-18' AS Date), N'hay quá hay')
INSERT [dbo].[Post_Comments] ([Id], [Post_ID], [Commenter_ID], [Comment_Date], [Content]) VALUES (26, 28, 5, CAST(N'2023-07-19' AS Date), N'hơi bị xịn sò')
SET IDENTITY_INSERT [dbo].[Post_Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Secure_Answers] ON 

INSERT [dbo].[Secure_Answers] ([Id], [Secure_Question_ID], [Answer]) VALUES (1, 2, N'Bóng đá')
INSERT [dbo].[Secure_Answers] ([Id], [Secure_Question_ID], [Answer]) VALUES (3, 2, N'Cầu lông')
INSERT [dbo].[Secure_Answers] ([Id], [Secure_Question_ID], [Answer]) VALUES (4, 2, N'Bóng chuyền')
SET IDENTITY_INSERT [dbo].[Secure_Answers] OFF
GO
SET IDENTITY_INSERT [dbo].[Secure_Questions] ON 

INSERT [dbo].[Secure_Questions] ([Id], [Question]) VALUES (1, N'Sở thích của bạn là gì?')
INSERT [dbo].[Secure_Questions] ([Id], [Question]) VALUES (2, N'Bạn thích môn thể thao nào?')
INSERT [dbo].[Secure_Questions] ([Id], [Question]) VALUES (3, N'Người trong nhà bạn thích nhất là ai?')
SET IDENTITY_INSERT [dbo].[Secure_Questions] OFF
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Account_Role] FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Account_Role] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Account_Role]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Secure_Answers] FOREIGN KEY([Secure_Answer_ID])
REFERENCES [dbo].[Secure_Answers] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Secure_Answers]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Secure_Questions] FOREIGN KEY([Secure_Question_ID])
REFERENCES [dbo].[Secure_Questions] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Secure_Questions]
GO
ALTER TABLE [dbo].[Blog_Posts]  WITH CHECK ADD  CONSTRAINT [FK_Blog_Posts_Account] FOREIGN KEY([Poster_ID])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Blog_Posts] CHECK CONSTRAINT [FK_Blog_Posts_Account]
GO
ALTER TABLE [dbo].[Favourite_Blogs]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteBlog_Blog_Posts] FOREIGN KEY([BlogId])
REFERENCES [dbo].[Blog_Posts] ([Id])
GO
ALTER TABLE [dbo].[Favourite_Blogs] CHECK CONSTRAINT [FK_FavoriteBlog_Blog_Posts]
GO
ALTER TABLE [dbo].[Favourite_Blogs]  WITH CHECK ADD  CONSTRAINT [FK_FavoritePosts_Account] FOREIGN KEY([UserID])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Favourite_Blogs] CHECK CONSTRAINT [FK_FavoritePosts_Account]
GO
ALTER TABLE [dbo].[Favourite_House]  WITH CHECK ADD  CONSTRAINT [FK_Favourite_House_Account] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Favourite_House] CHECK CONSTRAINT [FK_Favourite_House_Account]
GO
ALTER TABLE [dbo].[Favourite_House]  WITH CHECK ADD  CONSTRAINT [FK_Favourite_House_House] FOREIGN KEY([House_ID])
REFERENCES [dbo].[House] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favourite_House] CHECK CONSTRAINT [FK_Favourite_House_House]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Account_Receiver] FOREIGN KEY([Receiver_ID])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Account_Receiver]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Account_Sender] FOREIGN KEY([Sender_ID])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Account_Sender]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_House] FOREIGN KEY([House_ID])
REFERENCES [dbo].[House] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_House]
GO
ALTER TABLE [dbo].[Feedback_System]  WITH CHECK ADD  CONSTRAINT [FK_Feebback_System_Account] FOREIGN KEY([Account_ID])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Feedback_System] CHECK CONSTRAINT [FK_Feebback_System_Account]
GO
ALTER TABLE [dbo].[History_House]  WITH CHECK ADD  CONSTRAINT [FK_AccountHouse_Account] FOREIGN KEY([Account_ID])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[History_House] CHECK CONSTRAINT [FK_AccountHouse_Account]
GO
ALTER TABLE [dbo].[History_House]  WITH CHECK ADD  CONSTRAINT [FK_AccountHouse_House] FOREIGN KEY([House_ID])
REFERENCES [dbo].[House] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[History_House] CHECK CONSTRAINT [FK_AccountHouse_House]
GO
ALTER TABLE [dbo].[House]  WITH CHECK ADD  CONSTRAINT [FK_House_Account] FOREIGN KEY([House_Owner_ID])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[House] CHECK CONSTRAINT [FK_House_Account]
GO
ALTER TABLE [dbo].[House]  WITH CHECK ADD  CONSTRAINT [FK_House_Districts] FOREIGN KEY([District_ID])
REFERENCES [dbo].[Districts] ([Id])
GO
ALTER TABLE [dbo].[House] CHECK CONSTRAINT [FK_House_Districts]
GO
ALTER TABLE [dbo].[House]  WITH CHECK ADD  CONSTRAINT [FK_House_House_Category] FOREIGN KEY([Category_ID])
REFERENCES [dbo].[House_Category] ([Id])
GO
ALTER TABLE [dbo].[House] CHECK CONSTRAINT [FK_House_House_Category]
GO
ALTER TABLE [dbo].[House_Details]  WITH CHECK ADD  CONSTRAINT [FK_House_Details_House] FOREIGN KEY([House_ID])
REFERENCES [dbo].[House] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[House_Details] CHECK CONSTRAINT [FK_House_Details_House]
GO
ALTER TABLE [dbo].[House_Details]  WITH CHECK ADD  CONSTRAINT [FK_House_Details_House_Directions] FOREIGN KEY([House_Direction_ID])
REFERENCES [dbo].[House_Directions] ([Id])
GO
ALTER TABLE [dbo].[House_Details] CHECK CONSTRAINT [FK_House_Details_House_Directions]
GO
ALTER TABLE [dbo].[House_Images]  WITH CHECK ADD  CONSTRAINT [FK_House_Images_House] FOREIGN KEY([House_ID])
REFERENCES [dbo].[House] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[House_Images] CHECK CONSTRAINT [FK_House_Images_House]
GO
ALTER TABLE [dbo].[House_Ratings]  WITH CHECK ADD  CONSTRAINT [FK_House_Ratings_Account] FOREIGN KEY([Voter_ID])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[House_Ratings] CHECK CONSTRAINT [FK_House_Ratings_Account]
GO
ALTER TABLE [dbo].[House_Ratings]  WITH CHECK ADD  CONSTRAINT [FK_House_Ratings_House] FOREIGN KEY([House_ID])
REFERENCES [dbo].[House] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[House_Ratings] CHECK CONSTRAINT [FK_House_Ratings_House]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Account] FOREIGN KEY([Sender_ID])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Account]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Account1] FOREIGN KEY([Receiver_ID])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Account1]
GO
ALTER TABLE [dbo].[Post_Comments]  WITH CHECK ADD  CONSTRAINT [FK_Post_Comments_Account3] FOREIGN KEY([Commenter_ID])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Post_Comments] CHECK CONSTRAINT [FK_Post_Comments_Account3]
GO
ALTER TABLE [dbo].[Post_Comments]  WITH CHECK ADD  CONSTRAINT [FK_Post_Comments_Blog_Posts] FOREIGN KEY([Post_ID])
REFERENCES [dbo].[Blog_Posts] ([Id])
GO
ALTER TABLE [dbo].[Post_Comments] CHECK CONSTRAINT [FK_Post_Comments_Blog_Posts]
GO
ALTER TABLE [dbo].[Secure_Answers]  WITH CHECK ADD  CONSTRAINT [FK_Secure_Answers_Secure_Questions] FOREIGN KEY([Secure_Question_ID])
REFERENCES [dbo].[Secure_Questions] ([Id])
GO
ALTER TABLE [dbo].[Secure_Answers] CHECK CONSTRAINT [FK_Secure_Answers_Secure_Questions]
GO
USE [master]
GO
